<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Contact</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
        <li class="nav-item">
          <a href="{{ url_for('aboutme') }}" class="nav-link">About me</a>
        </li>
        <li class="nav-item"><a href="{{ url_for('gallery') }}" class="nav-link">Gallery</a></li>
        <li class="nav-item active"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
      </ul>
    </nav>
    <div class="container mt-5">
      <h1>Contact</h1>
   <p><a href="mailto:annamatyjewicz@gmail.com">Napisz do mnie</a><br>
A numeru telefonu nie podam, bo nie chcę dostawać spamu :)</p>

<p><a href="https://github.com/Astghik1319">Kliknij tutaj</a>, żeby przejść do mojego GitHuba</p>
<p><a href="../lab/templates/login.html">Kliknij tutaj</a>, aby przejść do sekcji logowania i zostawić swoją opinię</p>
    </div>
  </body>
</html>
