{% extends "base.html" %}
{% block content %}
      <h1>Contact</h1>
   <p><a href="mailto:annamatyjewicz@gmail.com">Napisz do mnie</a><br>
A numeru telefonu nie podam, bo nie chcę dostawać spamu :)</p>

<p><a href="https://github.com/Astghik1319">Kliknij tutaj</a>, żeby przejść do mojego GitHuba</p>
<p><a href="../lab/templates/login.html">Kliknij tutaj</a>, aby przejść do Księgi Gości</p>
    </div>
<div class="container">
        <div class="jumbotron">
            <h1>Wyślij wiadomość</h1>
            <p>Napisz do mnie!</p>
        </div>
        <form action="/api/send_mail" method="post">
		<div class="form-group">
                <label for="InputNickname">Nick</label>
                <input type="email" class="form-control" name="nick" placeholder="Podaj swój nick" required>
            </div>
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Podaj adres email" required>
            </div>
			<div class="form-group">
                <label for="InputMess">Wiadomość</label>
                <input type="email" class="form-control" name="email" placeholder="Podaj treść wiadomości" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>

    </div>
{% endblock content %}