{% extends "base.html" %}
{% block content %}
    <h1>Galeria!</h1>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/cat.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/cat.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/krysia.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/krysia.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/gniewko.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/gniewko.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/prisma.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/prisma.jpg" width="300px" height="300px">
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/05.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/05.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/06.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/06.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/07.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/07.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/08.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/08.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="gallery-photo col-sm-6 col-md-4 mb-3">
                <a href="static/09.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="static/09.jpg" width="300px" height="300px">
                </a>
            </div>
        </div>
    </div>
{% endblock content %}